body {
font-family:arial,sans-serif;
}
nav {
text-align:right;
}
section{
text-align:center;
padding-top:9%;
}
.menu-item {
font-size:13px;
color:rgba(0,0,0,0.87);
text-decoration:none;
position:relative;
top:-5px;
margin-right:16px;
}
.menu-item:hover {
text-decoration:underline;
}
#profile-pic{
width: 32px;
height: 32px;
position:relative;
top:4px;
right:5px;
}
#dropdown-menu{
position:relative;
top:1px;
margin-right:19px;
}
#google-logo{
}
#input-wrapper {
position:relative;
width: 582px;
display:inline-block;
}
#input-wrapper > img {
position:absolute;
right:0px;
top:32px;
width:28px;
}
#search-box {
outline:none;
width:100%;
color: #222;
border: 1px solid #dfe1e5;
font-size: 13px;
padding: 14px;
margin-top:24px;
margin-bottom:24px;
border-radius: 24px;
}
#search-box:hover {
box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
border-color: rgba(223,225,229,0);}
#search-box:focus {
box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
border-color: rgba(223,225,229,0);
}
.custom-btn {
background color: #f2f2f2;
 color: #5F6368;
 font-size: 14px;
 height: 36px;
 padding: 0 16px;
 background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
 border: 1px solid transparent;
 box-shadow: 0 1px 1px rgba(0,0,0,0);
 color: #222;
 }
 .custom-btn:hover{
 background-image:linear-gradient(top,#f8f8f8,#f1f1f1);
 border: 1px solid #c6c6c6;
 box-shadow: 0 1px 1px rgba(0,0,0,0.1);
 color: #222;
 }
  .custom-btn:first-of-type {
  margin:16px;}
  #app-dropdown{
  width: 285px;
  padding: 28px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  position:absolute;
  right:80px;
  display:none;
  }
  #dropdown-wrapper:hover
  #app-dropdown{
  display:block;
  }
  .app-item{
 display: inline-block;
 width: 84px;
 margin-bottom:18px;
 text-align:center;
  }
  .app-item>img {
  width: 50px;
  height: 50px;}
  .app-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);

  border-radius:8px;
  }
  .app-item>p{
  color: rgba(0,0,0,0.87);
  margin:0;
  padding-top:8px;

}
#dropdown-wrapper{
display:inline-block;}